<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="3">
          <v-navigation-drawer
            absolute
            dark
            src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg"
            width="20%"
            permanent
          >
            <v-list>
              <v-list-item v-for="(item, index) in items" link>
                <v-list-item-content>
                  <v-list-item-title v-on:click="Graficar(index)">
                    {{ item.title }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-navigation-drawer>
        </v-col>
        <v-col cols="9">
          <v-container v-if="index === 0">
            <h3>Gráfica de casos de COVID por género</h3>
            <pie-chart :data="graphData" :download="true"></pie-chart>
          </v-container>
          <v-container v-if="index === 1">
            <h3>Gráfica de casos de COVID por edad</h3>
            <pie-chart :data="graphData" :download="true"></pie-chart>
          </v-container>
          <v-container v-if="index === 2">
            <h3>Gráfica de las ciudades más afectadas por COVID</h3>
            <column-chart :data="graphData" :download="true"></column-chart>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
    <v-container> </v-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Consults",
  data() {
    return {
      data: [],
      genreF: 0,
      genreM: 0,
      range1: 0,
      range2: 0,
      range3: 0,
      index: null,
      citiesList: [],
      citiesList2: [],
      mostCities: [],
      graphCities: [],
      items: [
        { title: "Por genero" },
        { title: "Por edad" },
        { title: "Ciudades más afectadas" },
      ],
      graphData: {},
    };
  },
  created: function () {
    this.Consult();
  },
  methods: {
    /*
    Método que se encarga de hacer la consulta de los datos de la API
    */ 
    async Consult() {
      let response = await axios.get(
        "https://www.datos.gov.co/resource/gt2j-8ykr.json"
      );
      this.data = response.data;
      this.Genders();
      this.Range();
      this.Cities();
    },
    /*
    Método que se encarga de contar cuántos de los casos son de hombres y cuántos de mujeres
    */
    Genders() {
      this.data.map((genres) => {
        if (genres.sexo == "F") {
          this.genreF++;
        } else {
          this.genreM++;
        }
      });
    },
    /*
    Método que se encarga de contar cuántos casos corresponden a los rangos de edad asignados
    (0-20, 21-40, mayor a 40)
    */
    Range() {
      this.data.map((ages) => {
        if (ages.edad >= 0 && ages.edad <= 20) {
          this.range1++;
        } else if (ages.edad >= 21 && ages.edad <= 40) {
          this.range2++;
        } else {
          this.range3++;
        }
      });
    },
    /*
    Método que se encarga de organizar las ciudades de la de mayor casos a la de menor casos
    */
    Cities() {
      this.data.map((city) => {
        this.citiesList.push(city.ciudad_de_ubicaci_n);
      });
      let orderedCities = this.citiesList.sort();
      let uniqueCities = [...new Set(orderedCities)];
      for (let index = 0; index < uniqueCities.length; index++) {
        let cityObject = new Object();
        let cityFilter = orderedCities.filter(
          (ciudad) => ciudad == uniqueCities[index]
        );
        cityObject.name = uniqueCities[index];
        cityObject.quantity = cityFilter.length;
        this.citiesList2.push(cityObject);
      }
      this.mostCities = this.citiesList2.sort((a, b) =>
        a.quantity < b.quantity ? 1 : -1
      );
    },
    /*
    Método que se encarga de reunir los datos para poder graficarlos
    */
    Graficar(index) {
      this.index = index;
      this.graphData = {};
      if (index === 0) {
        this.$set(this.graphData, 'Femenino' ,this.genreF);
        this.$set(this.graphData, 'Masculino',this.genreM);
      } else if (index === 1) {
        this.$set(this.graphData, '0-20' ,this.range1);
        this.$set(this.graphData, '21-40',this.range2);  
        this.$set(this.graphData, 'Mayor a 40' ,this.range3);
      }else if (index === 2) {
        for (let index = 0; index < 10; index++) {
          let graphCityObject = new Object();
          graphCityObject.name = this.mostCities[index].name;
          graphCityObject.quantity = this.mostCities[index].quantity;
          this.graphCities.push(graphCityObject);
          this.$set(this.graphData, graphCityObject.name, graphCityObject.quantity);
        }
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  color: green;
  margin-bottom: 20px;
  text-align: center;
}
</style>
