<template>
  <v-app>
    <v-main>
      <Consults/>
    </v-main>
  </v-app>
</template>

<script>
import Consults from './components/Consults';
import ByCity from './components/ByCity';

export default {
  name: 'App',

  components: {
    Consults,
    ByCity,
  },

  data: () => ({
    //
  }),
};
</script>
